body{
    justify-content: center;
    background-color: orchid;
}
.page{
    margin: auto;
    width: 90%;
}
.sitaram{
    width: 100%;
    height: 100vh; 
    object-fit: cover;
    border-radius: 50%;
}
